<h1> PEP campaign</h1>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: rgba(174, 233, 243, 0.267);
        color: rgb(17, 19, 18) 13);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container {
        max-width: 800px;
        width: 100%;
        padding: 20px;
    }
    h1 ,h2 {
        text-align: center;
    }
</style>  
<p> Learn more about PEP vision for the future!</p>
<a href="{% url 'blog:about' %}"> ABOUT PEP</a> | ,<a href="{% url 'blog:news' %}"> News</a>
<a href="{% url 'home' %}">Home</a>